*{margin:0px; 
 padding:0px;
 }

header{
background-image:url('images/banner/banner2.png')
}

.banner-intro{
  text-align:right;
  width: 100%;
  height: 100vh;
}
.header-title{
  padding-top: 216px;
  padding-bottom: 24px;
  font-weight: 500px;
  font-size: 65px;
  color:#151414;
}
.header-description{
  width: 250px;
  height: 78px;
  font-weight: 200;
  font-size: 16px;
  text-align: right;
  color:#444343;
  padding-left: 80%;
  padding-bottom:32px;
}
.btn-primary{
  width: 160px;
  height: 64px;
  margin-left: 86%;
  margin-bottom:167px;
  background: #FD6E0A;
  }
/* main sections styles */
.first-child{
  display:flex;
  align-items: center; 
  gap: 90px;
 }
.fs1{text-align: right center;
}
.ist-child-title{
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  width: 288px;
  height: 94px;
  margin-bottom: 24px;
}
.ist-child-discription{
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.second-child{
  display:flex;
  list-style: none;
  justify-content: space-between;
  }
  
.plan-title
{text-align: center;
font-weight: 700;
font-size: 40px;
color: #151414;}


.skill-title{
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.to-do{
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
.section-title{
width: 1135px;
height: 299.96px;
padding-bottom:70px;
}

  .quotation-container{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    display:flex;
    max-width: 900px; 
    height: 200px;
    justify-content:flex-start;
    }
  .quote{
    font-weight: 700;
    font-size: 40px;
    color:#FFFFFF;
    list-style: none;
  }
  .contact-info{
    margin-top:180px;
    width: 1600px;
    height: 577px;
    background: #151414;
    color:#FFFFFF
  }
  .white-box{
    display:flex;
    gap:250px ;
  }
  .future{
    font-weight: 700;
    font-size: 45px;
    padding-top:150px;
  }
  .social-media{
    display:flex;
    gap:15px;
    list-style: none;
  }
.future-description{
  font-weight: 400;
  font-size: 16px;
  padding-bottom:20px;
}
.subs-title{
  font-size: 25px;
  font-weight: 600;
  padding-top: 150px;
}
.sub-btn{
   font-weight: 600; 
   font-size: 20px; 
   color: #F15B22;
   margin-top:50px;
   width: 170.11px;
   height: 64px;
   border-radius:8px;}
   .ad-mail{
    width: 325px;
    height: 64px;
   }
   .primary-call{
  font-weight: 600; 
   font-size: 20px; 
   color: #F15B22;
   margin-top:140px;
   margin-right:100%;
   margin-left:0px;
   width: 150.11px;
   height: 54px;
   border-radius:8px;
   }
   